
.default-container {
    background-color: var(--theme-00);
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../../../assets/home-mobile-bg.svg);
    background-size: cover;
}

.default-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    z-index: 4;
}

.home-image {
    width: 100%;
    height: 350px;
    background-image: url(../../../assets/home-mobile-image.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.presentation-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding-top: 30px;
    font-size: var(--font-01);
    font-weight: 600;
    letter-spacing: -2.45px;
    color: var(--black-00);
}

.subtitle {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    font-size: var(--font-03);
    line-height: normal;
    color: var(--black-01);
}

@media (min-width: 1200px) {
    .default-container {
        background-image: url(../../../assets/home-bg.svg);
    }

    .default-content {
        flex-direction: row-reverse;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .home-image {
        max-width: 780px;
        background-image: url(../../../assets/home-desktop-icon.png);
    }

    .presentation-text {
        align-items: start;
    }

    .title {
        padding-top: 0;
        font-size: var(--font-00);
    }
    
    .subtitle {
        text-align: start;
        font-weight: 400;
    }
}