<div class="default-container">
    <div class="default-content">
        <div class="footer-column">
            <h2 class="title">Pokedex</h2>
            <h3 class="subtitle">
                Este web site foi contruído com base na Api PokéAPI e tem como objetivo a prática das habilidades com Angular Js.
            </h3>
        </div>
        <div class="footer-column">
            <h2 class="title">Links Úteis</h2>
            <a href="https://github.com/Hyaguinhogp/Pokedex" class="subtitle">Código no Github</a>
            <a href="https://pokeapi.co/docs/v2" class="subtitle">PokéAPI</a>
            <a href="https://angular.io/" class="subtitle">Angular</a>
        </div>
        <div class="footer-column">
            <h2 class="title">Redes Sociais</h2>
            <a href="https://github.com/Hyaguinhogp" class="subtitle">Github</a>
            <a href="https://www.linkedin.com/in/hyago-matos/" class="subtitle">Linkedin</a>
            <a href="https://instagram.com/hyaguinhogp" class="subtitle">Instagram</a>
        </div>
        <div class="footer-column">
            <h2 class="title">Contato</h2>
            <h3 class="subtitle">(92) 991271930</h3>
            <h3 class="subtitle">hyago.v.a.m@gmail.com</h3>
        </div>
    </div>
</div>
